#movies img, #movie img {
    width: 100%;
}

#btn-default {
    background-color: black;
}

@media(min-width:960px){
    #movies .col-md-3 .well {
        height: 390px; 
     }
     
     #movies .col-md-3 img {
         height:300px;
     }
}
